nav {

    background-color: rgb(89, 149, 151);
    padding-left: 20px;
    font-family: 'Abril Fatface', cursive;
    text-shadow: 2px 2px black;
    height: 85px;
    
    
}


.brand-logo {

    font: xx-large;
    color: black;


}

.page-footer {

    background-color: rgb(89, 149, 151); 
    text-align: center;
    padding-bottom: 15px;
    
    

}


#smallcol {

    height: 90vh;
    background-color: rgb(216, 224, 198);


}


#largecol  {

    height: 90vh;
    background-color: white;
    padding: 0;


}

h4 {

    padding-bottom: 5px;
    height: 20px;

}


#map  {

}

.input-field {
    border: 10px color black;
    float: right;
    color: azure;

    height: 657px; 
    width: 100%; 

}