nav {
    background-color: rgb(28, 46, 82);
    font-family: 'Abril Fatface', cursive;
    height: 10vh;
}

#address {
    border-radius: 10px;
    border: 3px solid black;
    width: 395px;
    height: 50px;
    margin-left: 0px;
    bottom: -10px;
    margin-bottom: 60px;
    text-align: center;
    font-size: medium;
    font-family: 'Merriweather', serif;
}

::-webkit-input-placeholder {
    color: rgb(207, 199, 199);;
}

::-moz-placeholder {
    color: rgb(207, 199, 199);;
}

:-ms-input-placeholder {
    color: rgb(207, 199, 199);;
}

:-moz-placeholder {
    color: rgb(207, 199, 199);;
}

p {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#mag {
    margin-left: 5px;
    margin-top: 15px;
    color: black;
}

.input-field {
    bottom: -10px;
    background: radial-gradient(circle, #453ddf 0%, #1d999b 100%);
    border-radius: 10px;
    width: 400px;
    margin-left: 15px;
    color: black;
}

#submitButton {
    /*float: right;*/
    border-radius: 10px;
    width: 136px;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-left: 60px;
    margin-top: -15%;
    background:linear-gradient(rgba(160, 119, 105, 0.822), transparent),
    linear-gradient(to top left, rgba(138, 173, 173, 0.507),transparent),
    linear-gradient(to top right, rgba(46, 46, 85, 0.842), transparent);
    background-blend-mode: screen;
    border: 2px solid black;
    color: white;
    font-family: 'Abril Fatface', cursive;

}

#backButton {
    border-radius: 10px;
    width: 136px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 40px;
    margin-top: -15%;
    background:linear-gradient(rgba(160, 119, 105, 0.822), transparent),
    linear-gradient(to top left, rgba(138, 173, 173, 0.507),transparent),
    linear-gradient(to top right, rgba(46, 46, 85, 0.842), transparent);
    background-blend-mode: screen;
    border: 2px solid black;
    color: white;
    font-family: 'Abril Fatface', cursive;
}

.fas {
    color: rgb(107, 204, 172);
    text-shadow: 2px 2px black;
}

h3 {
    font-size: 35px;
    color: white;
    margin-top: 0;
    margin-left: 30px;
    text-shadow: 2px 2px black;
}

.container1 {
    border: 2px solid rgb(42, 42, 43);
    background-color: rgb(224, 224, 214);
    height: 81vh;
    margin-top: 5px;
    border-radius: 10px;
    padding: 12px;
    overflow: auto;
}

#smallcol {
    height: 90vh;
    background: linear-gradient( rgb(98, 159, 167), rgb(172, 134, 172));
}

#largecol {
    height: 85vh;
    background-color: white;
    padding: 0;
}

#map {
    height: 86vh;
    width: 100%;
}

.page-footer {
    background-color: rgb(28, 46, 82);
    text-align: center;
    padding-bottom: 15px;
}

.directionsBtn:hover {
    cursor: pointer;
    background-color: rgb(197, 197, 197);
    /*border-bottom: 1px solid rgb(0, 0, 0);*/
    border-radius: 5px;
}

/*.directionsBtn {
    border-bottom: 1px solid black;
}