nav {
    /*rgb(89, 111, 151)*/
    background-color: rgb(28, 46, 82);
    font-family: 'Abril Fatface', cursive;
    text-shadow: 2px 2px black;
    height: 10vh;
    

    
   
}


#search {

    border-radius: 10px;
    background: radial-gradient(circle, #22c1c3 0%, #382df0 100%);
    border: 3px solid black;
    width: 395px;
    height: 50px;
    margin-left: 0px;
    bottom: -10px;
   
    
    
    
    
   
}


#mag {

    margin-left: 15px;


}


.input-field {

   
    bottom: -10px;


}


i  {

color: rgb(107, 204, 172);
    

}



h3 {

    font-size: 35px;
    color: white;
    margin-top: 0;
    margin-right: 30px;
    float: right;
    
    
    
}


.container1 {

    border: 2px solid rgb(42, 42, 43);
    background-color: rgb(224, 224, 214);
    height: 80vh;
    margin-top: 5px;
    border-radius: 10px;
    padding: 12px;

}

#smallcol {

    height: 83vh;
    background:linear-gradient( rgb(98, 159, 167), rgb(172, 134, 172));


}


#largecol  {

    height: 70vh;
    background-color: white;
    padding: 0;


}

#map  {

    height: 83vh;
    width: 100%;

}


.page-footer {

    background-color: rgb(28, 46, 82);
    text-align: center;
    padding-bottom: 15px;
    
    

}















