nav {
    /*rgb(89, 111, 151)*/
    background-color: rgb(28, 46, 82);
    padding-left: 20px;
    font-family: 'Abril Fatface', cursive;
    text-shadow: 2px 2px black;
    height: 10vh;

}
   




i  {

color: rgb(107, 204, 172);
    

}



h3 {

    font-size: 35px;
    color: white;
    margin-top: 0;
    margin-left: 30px;
    
    
    
}


.container1 {

    border: 2px solid rgb(42, 42, 43);
    background-color: white;
    height: 50vh;
    margin-top: 70px;
    border-radius: 10px;
    padding: 20px;

}

#smallcol {

    height: 83vh;
    background:linear-gradient( rgb(98, 159, 167), rgb(172, 134, 172));


}


#largecol  {

    height: 70vh;
    background-color: white;
    padding: 0;


}

#map  {

    height: 83vh;
    width: 100%;


}

.page-footer {

    background-color: rgb(28, 46, 82);
    text-align: center;
    padding-bottom: 15px;
    
    

}


